{% extends 'base.html.twig' %}

{% block title %}ArticleBoutique{% endblock %}

{% block body %}
    <h1>ArticleBoutique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article_boutique.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ article_boutique.nom }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ article_boutique.type }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ article_boutique.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_article_boutique_index') }}">back to list</a>

    <a href="{{ path('app_article_boutique_edit', {'id': article_boutique.id}) }}">edit</a>

    {{ include('article_boutique/_delete_form.html.twig') }}
{% endblock %}
