{% extends 'base.html.twig' %}

{% block title %}Reponses{% endblock %}

{% block body %}
    <h1>Reponses</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reponse.id }}</td>
            </tr>
            <tr>
                <th>UtilisateurId</th>
                <td>{{ reponse.utilisateurId }}</td>
            </tr>
            <tr>
                <th>QuestionId</th>
                <td>{{ reponse.questionId }}</td>
            </tr>
            <tr>
                <th>Reponse</th>
                <td>{{ reponse.reponse }}</td>
            </tr>
            <tr>
                <th>ReponseCorrecte</th>
                <td>{{ reponse.reponseCorrecte }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reponses_index') }}">back to list</a>

    <a href="{{ path('app_reponses_edit', {'id': reponse.id}) }}">edit</a>

    {{ include('reponses/_delete_form.html.twig') }}
{% endblock %}
