{% extends 'base.html.twig' %}

{% block title %}Calendrier index{% endblock %}

{% block body %}
    <h1>Calendrier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Annee</th>
                <th>Mois</th>
                <th>Jour</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for calendrier in calendriers %}
            <tr>
                <td>{{ calendrier.id }}</td>
                <td>{{ calendrier.annee }}</td>
                <td>{{ calendrier.mois ? 'Yes' : 'No' }}</td>
                <td>{{ calendrier.jour ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_calendrier_show', {'id': calendrier.id}) }}">show</a>
                    <a href="{{ path('app_calendrier_edit', {'id': calendrier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_calendrier_new') }}">Create new</a>
{% endblock %}
