{% extends 'base.html.twig' %}

{% block title %}Offre{% endblock %}

{% block body %}
    <h1>Offre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>OffreId</th>
                <td>{{ offre.offreId }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ offre.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ offre.description }}</td>
            </tr>
            <tr>
                <th>Budget</th>
                <td>{{ offre.budget }}</td>
            </tr>
            <tr>
                <th>TypeContrat</th>
                <td>{{ offre.typeContrat }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ offre.statut }}</td>
            </tr>
            <tr>
                <th>CreeLe</th>
                <td>{{ offre.creeLe ? offre.creeLe|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ExpireLe</th>
                <td>{{ offre.expireLe ? offre.expireLe|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_offre_index') }}">back to list</a>

    <a href="{{ path('app_offre_edit', {'offreId': offre.offreId}) }}">edit</a>

    {{ include('offre/_delete_form.html.twig') }}
{% endblock %}
