{% extends 'base.html.twig' %}

{% block title %}Contrat index{% endblock %}

{% block body %}
    <h1>Contrat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ContratId</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>Description</th>
                <th>Statut</th>
                <th>EcheancierPaiement</th>
                <th>CreeLe</th>
                <th>MisAJourLe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contrat in contrats %}
            <tr>
                <td>{{ contrat.contratId }}</td>
                <td>{{ contrat.dateDebut ? contrat.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ contrat.dateFin ? contrat.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ contrat.description }}</td>
                <td>{{ contrat.statut }}</td>
                <td>{{ contrat.echeancierPaiement }}</td>
                <td>{{ contrat.creeLe ? contrat.creeLe|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ contrat.misAJourLe ? contrat.misAJourLe|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_contrat_show', {'contratId': contrat.contratId}) }}">show</a>
                    <a href="{{ path('app_contrat_edit', {'contratId': contrat.contratId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contrat_new') }}">Create new</a>
{% endblock %}
